
body {
    background: #F7F9FC;
    color: hsl(227, 18%, 42%);
    font-family: 'Lora',
    serif;
    font-size: 17px;
    font-weight: lighter;
    }

#profilephoto {
  width: 250px;
  border-radius:50%;
  }

.container {
  width: 700px auto;
  margin: 15px auto;
  }

.card {
  background-color: #F7F9FC;
  padding: 30px;
  box-shadow: 0px 20px 40px hsl(227, 18%, 42%);
  border-radius: 8px;
  margin: 20px 0px;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-instagram {
  background: #125688;
  color: white;

}
